{% extends 'base.html' %}
{% load static %}
{% block title %}Esasy sahypa{% endblock %}
{% block content %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-content-center align-items-center">
	<div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
		<h1> <span class="main_back_span">Biz bilen bolmak,</span><br>Diňe öňe gitmek</h1>
		<h2>Ähli hyzmatlatymyz elýeterli, ynamly hem-de tiz!</h2>
	</div>
</section><!-- End Hero -->

<!-- ======= Popular Courses Section ======= -->
<section id="popular-courses" class="courses">
	<div class="container" data-aos="fade-up">
		<div class="section-title">
			<h2>Biziň</h2>
			<p>Hyzmatlarymyz</p>
		</div>
		<section id="events" class="events">
			<div class="container" style="display: grid; grid-template-columns: repeat(4, 1fr); gap: 10px;" data-aos="fade-up">
				{% for category in four_categories %}
				<div class="">
					<div class="d-flex align-items-stretch">
						<div class="card">
							<div class="card-img">
								<img src="/media/{{category.image}}" alt="">
							</div>
							<div class="card-body">
								<h5 class="card-title"><a href={% url 'category_news' category.slug %}>{{ category.name | title }}</a></h5>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</section><!-- End Events Section -->

</section><!-- End Popular Courses Section -->
{% endblock %}